# URL publica
NEXT_PUBLIC_SITE_URL=https://vivamayor.pe
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_SHOW_PRICING=true
NEXT_PUBLIC_LEADS_ENDPOINT=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_PHONE=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_ADDRESS=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_CLAIMS_BOOK_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
